/* Styles the brand image in the navbar to have a fixed height of 30px */
.navbar-brand img {
  height: 30px;
}

/* Sets dimensions and border-radius for feature icons */
.feature-icon {
  width: 4rem;
  height: 4rem;
  border-radius: 0.75rem;
}

/* Styles for floating text with shadow, initially hidden */
.textoFlotante {
  color: rgb(255, 255, 255);
  font-size: 48px;
  position: absolute;
  display: none;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Sets background color and opacity for active carousel items on hover */
.carousel-item.hover-active {
  background-color: gray;
  opacity: 0.35;
}

/* Displays the floating text when the carousel item is active */
.carousel-item.hover-active .textoFlotante {
  display: block;
}

/* Defines a shaking animation effect on hover for logo */
.logo:hover {
  animation: tilt-n-move-shaking 0.25s infinite;
}

/* Adds margin to the span inside the logo for spacing */
.logo span {
  margin-left: 5px;
}

/* Styles for the scrollbar in WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

/* Styles for the scrollbar track in WebKit browsers */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Styles for the scrollbar thumb in WebKit browsers */
::-webkit-scrollbar-thumb {
  background: #0d6efd;
  border-radius: 6px;
}

/* Changes the thumb color on hover in WebKit browsers */
::-webkit-scrollbar-thumb:hover {
  background: #d0d0d0;
}

/* Styles for the scrollbar in Firefox */
.firefox {
  scrollbar-color: #0d6efd #f1f1f1;
}

/* Hides the circle by default, shows on large screens */
.circle {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

/* Media query to display the circle on screens wider than 992px */
@media screen and (min-width: 992px) {
  .circle {
    display: block;
  }
}

/* Keyframes for the tilt-and-move animation of the logo */
@keyframes tilt-n-move-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.bodyRegistrarse {
  height: 100vh;
  .main {
    .seccionRegistrarse {
      width: 50%;
      margin: 0 auto;
      border-radius: 5px;
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 90vh;
      font-size: 1.2rem;
      /*seleccionar todos los input menos el checkbox*/
      form {
        width: 100%;
        padding: 40px;
        input:not(.check, .boton),
        select {
          width: 100%;
          margin-bottom: 20px;
          height: 40px;
          padding: 0px 20px;
          font-size: 1.2rem;
          border-radius: 20px;
          outline: none;
        }
      }
    }
  }
}

/*media querys para mobile PAGINA registrarse*/
@media (max-width: 900px) {
  .bodyRegistrarse {
    .main {
      .seccionRegistrarse {
        width: 100%;
        form {
          width: 100%;
          text-align: center;

          input:not(.check, .boton),
          select {
            width: 80%;
            height: 35px;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
